// Specific CSS for your home-page
body{
    background-color: #F6F6F3;
    padding-top: 70px;
}
.row{
    text-align: center;
    margin-top: 6rem!important;
}
.featurette-divider {
    margin: 5rem 0;
}
.featurette-heading {
    margin-top: 7rem;
}