// Import page-specific CSS files here.
@import "home";

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

// td {
//   padding-right: 5px;
// }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  border-radius: 20px;
}
.hike_results {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 37px;
  margin-bottom: 10px;
  margin-top: 25px;
  margin-left: 5px;
}
.card-hike-infos {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hike_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.hike_name_fav {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: -2px;
}

.location {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.number_hikers {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #CFCBCB;
  margin-top: 5px;
}
.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.hello_user {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 25px;
}
.sub_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.favorites_hikes {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: -40px;
    max-width: 33.3333333333%;
}
.prezzo {
  display:grid;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}
.nome_hike {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: black;
  }
.luogo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
  color: black;
  
}
.difficolta {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

}
.btn {
  font-family: Roboto;
  font-size: 16px;
}
.dropdown-menu {
  font-family: Roboto;
}

.availability{
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 25px;
}

.col-lg-1{
margin-left: 50px;
}