// Import page-specific CSS files here.
@import "home";

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

// td {
//   padding-right: 5px;
// }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  border-radius: 20px;
}
.hike_results {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 10px;
  margin-top: 25px;
}
.card-hike-infos {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hike_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.location {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.number_hikers {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #CFCBCB;
  margin-top: 5px;
}
.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.hello_user {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 25px;
}
.sub_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}
.favorites_hikes {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: -40px;
    max-width: 33.3333333333%;
}
.green_color {
    background: #BBCEA8;
    position: absolute;
    height: 100px;
    width: 100%;
    margin-top: 50px;
}

