<div class="container booking-form">
    <div class="card-form">
    <div class="card-booking-body">
    <div>
    <span><i class="fas fa-map-marker-alt"></i>Country</span>
    <br>
    <span><i class="far fa-calendar-alt"></i># of Days</span>
    <br>
    <span><i class="fas fa-mountain"></i>Type of Terrain</span>
    <br>
    <span><i class="fas fa-hiking"></i>Distance</span>
    <br>
    <span><i class="fas fa-expand-alt"></i>Elevation</span>
    <br>
    <span>Button Tag of Difficulty (beginner-advance)</span>
    </div>
    <button>Leave a Review</button>
    <%# <%= render 'review' %>
    
    </div>
</div>
