 <div class="col-12">
      <div class="bg-white rounded p-3">
        <h4>Add your review</h4>
        <%= simple_form_for [@booking.hike, @booking, @review] do |f| %>
          <%= f.input :comment, placeholder: 'Add your review here...' %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, id:'example', input_html: { id: 'review_rating' } %>


<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@review">Create review</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Write your review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name of group/guide</label>

            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <%= f.input :rating, as: :select, collection: (1..5), required: true, id:'example', input_html: { id: 'review_rating' } %>
            <label for="message-text" class="col-form-label" >Comment:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit review</button>
      </div>
    </div>
  </div>
</div>
        <% end %>
      </div>
    </div>
