<div class="container mt-5 p-4 confirmation-view">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 card-confirmation">
    
      <h2 class="booking-h1">Great <strong><%= @booking.first_name %></strong>,</h2>
      <h2 class="booking-h1">Your booking has been confirmed</h2>
      <p>You will receive a confirmation email soon with your booking details.</p>
      <br>
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div>
            <p><i class="fas fa-map-signs"></i> <%= @booking.hike.name %></p>
            <br>
            <i class="fas fa-thumbtack"></i> <%= @booking.hike.start_address %>
          </div>
        </div>
        <a class="button m-5" <%= link_to "Visit Dashboard", dashboard_index_path  %></a>
        
      </div>
   
  </div>
</div>