<div class= "container">
  
  <div class="row">
    <div class= "col-lg-4">
    <h2>Hike Name</h2>
    </div>
    <p>Reviews</p>
  </div>
  <div class= row>
    <div class = "col-lg-12">
    <p>Dates Booked</p>
    </div>
  </div>

  <div class= "row">
    <div class= col-lg-8>
      insert map here
      </div>
    <div class= col-lg-4>
    insert highlights card here
    leave a review button
    <%# <%= render 'review' %>
    <%# <%= link_to "My group page", hike_booking_chatroom_path(@booking.hike, @booking), class: "discover_more_botton" %>
    </div>
  </div>

  <hr>
  Guide Name
  Guide Since ...
  Reviews
  Introduction
  <hr>

  Group Members
  Visit group page button
  <hr>

  #hikeasy user pics

</div>