<div class="container mt-5 p-4 confirmation-view">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 card-confirmation">
    
    <h1>Detail page of the booking</h1>

    <%= render 'review' %>
   <%= link_to "My group page", chatroom_hike_booking_path(@booking.hike, @booking), class: "discover_more_botton" %>
  </div>
</div>