<div class= "container">
  
  <div class="row">
    <div class= "col-lg-4">
    <h2><%=@booking.hike.name%></h2>
    </div>
  </div>
  <div class= row>
    <div class = "col-lg-12">
    <p>Dates Booked</p>
    </div>
  </div>

  <div class= "row">
    <div class= col-lg-8>
      Trail Map
      </div>
    <div class= col-lg-4>
    <%= render 'highlights'%>
    </div>
    </div>
  </div>

  <hr>
  Guide Name +
  Introduction
  <hr>

  Group Members
  <%= link_to "Visit Group Page", hike_booking_chatroom_path(@booking.hike, @booking), class: "discover_more_botton" %>
  <hr>

  #hikeasy user pics

</div>