
  <%= link_to hike_path(hike), class:'text-decoration-none' do %> 
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="popup-image" />
      <div class="popup-infos">
        <div>
          <h6><%= hike.name %></h6>
          <h6>difficulty: <%= hike.difficulty %></h6>
        </div>
        <strong><h6><%= hike.price %>$</h6></strong>
        
        
      </div> 
  <% end %>


       