<h1 class="header">Find your hike</h1>
  <div>


<div class="input-group">
   <input type="text" class="form-control" placeholder="Explore">
   <span class="input-group-btn">
        <button name="button" class="btn btn-default" type="submit">Search!</button>
   </span>
</div>



  <div class="column">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
      <h3>Hike</h3>
      <p>Location</p>
      <p>Number of hikers</p>
    </div>
  </div>
</div>

  <div class="column">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
      <h3>Hike</h3>
      <p>Location</p>
      <p>Number of hikers</p>
    </div>
  </div>
</div>

   <div class="column">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
      <h3>Hike</h3>
      <p>Location</p>
      <p>Number of hikers</p>
    </div>
  </div>
</div>

  <div class="column">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="..."
      <h3>Hike</h3>
      <p>Location</p>
      <p>Number of hikers</p>
      <p>Price</p>
  </div>
</div>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
