<div class="row">
  <div class="column">
    <div class="card">
      <h3>Hike</h3>
      <p>Location</p>
      <p>Number of hikers</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Hike</h3>
      <p>Location</p>
      <p>Number of hikers</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Hike</h3>
      <p>Location</p>
      <p>Number of hikers</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Hike</h3>
      <p>Location</p>
      <p>Number of hikers</p>
    </div>
  </div>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
