  <main role="main">
<!--carousel -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" class=""></li>
          <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
              
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
              
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
              
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="container marketing">

        <!-- Welcome to hikEasy - Discover more Section -->
        <div class="welcome_to_discover offset-1">
          <div class="welcome_to_hikeasy">Welcome to HikEasy</div>
          <div class="discover_more"><%= link_to "Discover more", hikes_path, class: "discover_more_botton" %></div>
        </div>
        
        <!-- Three columns of text-->
        <div class="row_home_page">
          <div class="col-lg-4">
            <img class="rounded-circle" src="<%= asset_path 'homepage1.svg' %>" alt="Generic placeholder image" width="160" height="160">
            <p class="mt-2">Book your organized group hike. All the tours are multi-day hikes. As a solo-hiker you no longer hike alone. Instead you go on this journey with other passionate hikers. </p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="<%= asset_path 'homepage2.svg' %>" width="160" height="160">
            <p class="mt-2">All hiking tours will be guided of a local certified guide. Get to know your guide before your hike starts and ask all te questions you want</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="<%= asset_path 'planned.svg' %>" alt="Generic placeholder image" width="160" height="160">
            <p class="mt-2">Everthing is planned for you. Just choose your favorite hike from our various options. Exchange with your fellow hikers before and after the trip. </p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row_home_page -->

        <!-- /Hike It. Love It. Tag it. #HikEasy section -->
        <div class="title_instagram_section">
          <div class="hike_it_love_it">Hike It. Love It. Tag it. #HikEasy</div>
        </div>

        <!-- /Instagram Photos section -->
        <div class="instagram_pics_div_one">
          <div class="insta_card" style="background-image: url(mario-dobelmann-ZXXA5Pdx2UM-unsplash.jpg)"></div>
          <div class="insta_card" style="background-image: url(mario-dobelmann-ZXXA5Pdx2UM-unsplash.jpg)"></div>
          <div class="insta_card" style="background-image: url(mario-dobelmann-ZXXA5Pdx2UM-unsplash.jpg)"></div>
          <div class="insta_card" style="background-image: url(mario-dobelmann-ZXXA5Pdx2UM-unsplash.jpg)"></div>
        </div>
        <div class="instagram_pics_div_two">
          <div class="insta_card" style="background-image: url(mario-dobelmann-ZXXA5Pdx2UM-unsplash.jpg)"></div>
          <div class="insta_card" style="background-image: url(mario-dobelmann-ZXXA5Pdx2UM-unsplash.jpg)"></div>
          <div class="insta_card" style="background-image: url(mario-dobelmann-ZXXA5Pdx2UM-unsplash.jpg)"></div>
          <div class="insta_card" style="background-image: url(mario-dobelmann-ZXXA5Pdx2UM-unsplash.jpg)"></div>
        </div>
  </main>

