.button {
    width: 165px;
    height: 55px;
    border-radius: 5px;
    background-color: #748067;
    color: white;
    font-weight: bold;
    }

.btn-book{
    width: 165px;
    height: 55px;
    border-radius: 5px;
    background-color: #748067;
    color: white;
    font-weight: bold;
    }

.btn-primary {
  border-radius: 5px;
}

.dropdown {
    display:inline-block;
}
