.button {
    width: 165px;
    height: 40px;
    border-radius: 5px;
    background-color: #748067;
    color: white;
    font-weight: bold;
    }

.btn-book{
    width: 165px;
    height: 40px;
    border-radius: 5px;
    background-color: #748067;
    color: white;
    font-weight: bold;
    }

.btn-primary {
  border-radius: 5px;
}

.dropdown {
    display:inline-block;
}

.online-badge {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #1FE5BD;
}

.offline-badge {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #d8312b;
}

.btn.btn-primary.w-50.mt-5.p-2{
  margin-left: 70px;
  position: relative;
}