.button {
    width: 165px;
    height: 40px;
    border-radius: 5px;
    background-color: #748067;
    color: white;
    font-weight: bold;
    }

.btn-book{
    width: 165px;
    height: 40px;
    border-radius: 5px;
    background-color: #748067;
    color: white;
    font-weight: bold;
    }

.btn-primary {
  border-radius: 5px;
  padding: 8px 24px
}

.dropdown {
    display:inline-block;
}

.online-badge {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #1FE5BD;
}

.offline-badge {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #d8312b;
}

.btn.btn-primary.w-50.mt-5.p-2{
  margin-left: 70px;
  position: relative;
}
.button.difficolta{
  color: white;
  background-color: #BBCEA8;
  opacity: 70%;
  font-weight: normal;
  text-align: center;
  width: 150px;
  border-radius: 5px;
  height: 30px;
  padding-top: 2px;
  font-size: 16px;
}

.btn.btn-secondary{
  margin-left: -60px;
}


