.card-guide{
    padding: 16px;
    text-align: left;
    background: white;
    height: 224px;
    width: 372px;
    border-radius: 10px;
    margin-left: 215px;
    width: 300px;
    outline: .25px solid rgba(242, 239, 239, 0.5);
}

.card-chatroom{
   padding: 16px;
    text-align: left;
    background: white;
    border-radius: 10px;
}

.card-hike{
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
  .card-hike > img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
  
  .card-hike h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  .card-hike h3 {
    font-size: 18px;
  }
  
  .card-hike p {
    font-size: 18px;
    opacity: .7;
    margin: 0;
  }
  
  
  .card-hike .card-hike-info {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    text-align: left;
  }
  
  .card-review{
      padding: 40px;
      margin: 20px 0px;
      text-align: center;
  }
 