ul#booking-show-countdown {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul#booking-show-countdown li { display: inline-block; }

ul#booking-show-countdown li span {
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
}

ul#booking-show-countdown li.seperator {
  font-size: 40px;
  line-height: 70px;
  vertical-align: top;
}

ul#booking-show-countdown li p {
  color: #a7abb1;
  font-size: 20px;
}

.days {
  background-color: #BBCEA8;
  color: white;
  padding: 25px 19px;;
  border-radius: 5px;
}
.hours {
  background-color: #BBCEA8;
  color: white;
  padding: 25px 19px;;
  border-radius: 5px;
}
.minutes {
  background-color: #BBCEA8;
  color: white;
  padding: 25px 19px;
  border-radius: 5px;
}

