.btn.btn-secondary{
    background-color: #748067;
    border-color: #748067;
    border-radius: 40px;
}

.btn-primary-search{
    margin-top: 7px;
    border-radius: 40px;
    background-color: #748067;
    color: white;
}