.btn.btn-secondary{
    background-color: #758563;
    border-radius: 5px;
}

.btn.btn-secondary.search{
    margin-top: 8px;
    background-color: #758563;
    border-radius: 5px;
    color: white;
    margin-left: 100px;
    
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary.active:not(:disabled):not(.disabled), .show > .btn-secondary.dropdown-toggle {
    background-color: #758563;
    opacity: 70%;
    border-color: none;
    
}