.card-form-highlights{
width: 300px;
height: 450px;
background: #FFFFFF;
outline: .25px solid rgba(242, 239, 239, 0.5);
box-sizing: border-box;
border-radius: 10px;
padding: 30px 20px;
text-align: left;

}

.card-form{
width: 350px;
height: 450px;
background: #FFFFFF;
outline: .25px solid rgba(242, 239, 239, 0.5);
box-sizing: border-box;
border-radius: 10px;
padding: 40px;
text-align: left;
margin-left: 70px;
}


.card-booking-price{
    text-align:center;
}

// .btn-secondary{
// width: 262px;
// height: 55px;
// border-radius: 5px;
// background-color: #748067;
// color: white;
// font-weight: bold;
// }


