  .far {
    color: #758563;
  }

  .fas.fa-arrow-right  {
    color:#758563;
  }
  .fas.fa-arrow-up  {
    color:#758563;
  }
  .fas.fa-weight  {
    color:#758563;
  }

.fas.fa-mountain{
  color: #758563;
  font-size: 16px;
}

.fas.fa-hiking{
  color: #758563;
}

.fas.fa-star{
  // color: #758563;
}

.fas.fa-heart{
  font-size: 32px;
  // color: #758563;
  text-align: right;
  opacity: 30%;
  margin-right: 150px;
}

.fas.fa-heart.index{
  font-size: 32px;
  opacity: 30%;
  margin-right: 0px;
}
.not-favorited {
  color: #758563; // to do use scss variable for red color
}

.favorited {
  color: black;
}

.favorited a {
  color: black;
}


i.fas.fa-heart.nav{
  font-size: 28px;
  opacity: 100%;
  margin-right: 16px;
  margin-top: 6px;
}

.fas.fa-heart.index:hover {
  transform: scale(1.10); 
}

.fas.fa-heart:hover {
  transform: scale(1.10); 
}

.fas.fa-thumbtack{
  color: #758563;
}

.fas.fa-heart.thumbnail {
  position: absolute;
  top: 0%;
  left: -3%;
  font-size: 32px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  opacity: 55%;
  border-radius: 5px;
  -webkit-text-stroke: 1px white;
}

.fas.fa-heart.suggestion {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 32px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  opacity: 55%;
  border-radius: 5px;
  -webkit-text-stroke: 1px white;
}