  .far {
    color: #748067;
  }

  .fas.fa-arrow-right  {
    color:#748067;
  }
  .fas.fa-arrow-up  {
    color:#748067;
  }
  .fas.fa-weight  {
    color:#748067;
  }

.fas.fa-heart {
  font-size: 35px;
}

.fas.fa-mountain{
  color: #748067;
  font-size: 16px;
}

.fas.fa-hiking{
  color: #748067;
}

.fas.fa-heart.booking {
  font-size: 28px;
  color: #748067;
  margin-left: 225px;
  margin-bottom: 10px;
  position: relative;
}


.fas.fa-star{
  color: #748067;
}
.fas.fa-heart{
  font-size: 24px;
  color: #748067;
  text-align: right;
}
