.image-hike{
height: 218px;
width: 350px;
margin-left: -12px;
margin-right: 12px;
padding: 0px;
margin-bottom: 12px;
}

.guide-avatar > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}