.mapboxgl-popup {
  width: 300px;
  background: white;
 
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  color: black; 
}

.popup-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.popup-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: black;
}
