// #map-start-end {
//   border-radius: 15px 0px 0px 15px;
// }

div.mapboxgl-popup-content{
    font-family: roboto;
    box-shadow: none !important;
    background: none !important;
}

.name-thumbnail{
    color: black;
    font-size: 16px;
}

.region-thumbnail{
    font-size: 16px;
    font-weight: normal;
    color: black;
    font-style: italic;
}

div.marker.mapboxgl-marker.mapboxgl-marker-anchor-center{
    color: #758563;
}