.bg-dark {
  background-color: #BBCEA8!important;
}
.btn-outline-success {
  color: white;
  background-color: #748067;
  border-color: transparent;
}
.btn-outline-success:hover {
  color: #748067;
  background-color: white;
  border-color: transparent;
}
.logo_navbar {
  width: 120px;
  height: auto;
}
.navbar-nav {
  width: 100%;
  margin-left: 10px;
}
.nav-item:last-child {
  justify-self: flex-end;
  margin-left: auto;
}