.navbar-hikeasy {
  background: #BBCEA8;
}

.navbar-brand img {
  width: 120px;
  height: auto;
}
.nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}
