.bg-dark {
  background-color: #BBCEA8!important;
}
.btn-outline-success {
  color: white;
  background-color: #748067;
  border-color: transparent;
}
.btn-outline-success:hover {
  color: #748067;
  background-color: white;
  border-color: transparent;
}
